p.serif {
  font-family: "Times New Roman", Times, serif;
}

p.sansserif {
  font-family: Arial, Helvetica, sans-serif;
}

p.monospace {
  font-family: "Lucida Console", Courier, monospace;
}

p.cursive {
  font-family: cursive;
}

p.fantasy {
  font-family: fantasy;
}

p.papyrus {
  font-family: papyrus;
}
p.courier {
  font-family: courier;
}

p.impact {
  font-family: impact;
}

p.georgia {
  font-family: georgia;
}

p.palatino {
  font-family: palatino;
}